.dark-light-main__about {
  h1 {
    margin: 1em 0;
  }

  .about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .image-container {
      border: 1px solid var(--secondary-color);
      border-radius: 10px;
      padding: 10px 20px;
      margin-right: 25px;
      width: auto;
      background: var(--background);
      box-shadow: var(--box-shadow);

      h2 {
        color: var(--on-background-alt);
        font-size: 32px;
        font-weight: normal;
      }

      img {
        height: 300px;
        width: 300px;
      }
    }
  }
}
