@import './../../../../scss/main.scss';

.navigation-nation-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $clr-black-970;
  transform: translateX(-100vw);

  nav {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      list-style: none;
      height: 100vh;
      margin: 0;
      padding: 0;

      li {
        height: 20%;
        overflow: hidden;

        a {
          display: block;
          position: relative;
          top: 45%;
          color: $clr-white-100;
          text-transform: uppercase;
          letter-spacing: 4px;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
        }

        a::before {
          content: '';
          position: absolute;
          top: 47.5%;
          left: 0;
          width: 25vw;
          height: 3px;
          background: $clr-white-100;
          opacity: 0;
        }

        a:hover {
          transform: scale(1.2);
        }
        a:hover::before {
          opacity: 1;
        }
      }

      @for $number from 1 through length($navigation-nation-colors) {
        li:nth-of-type(#{$number}) {
          background: map-get($navigation-nation-colors, clr-nav-#{$number});
        }
      }
    }
  }
}
