/* Home Section */
.title-group {
  text-align: center;

  h1 {
    font-family: Kaushan Script, sans-serif;
    font-size: 100px;
    margin-bottom: 0;
  }

  h2 {
    color: var(--on-background-alt);
    font-size: 32px;
    font-weight: normal;
  }
}

h1 {
  font-family: Kaushan Script, sans-serif;
  font-size: 100px;
  margin-bottom: 0;
}
