/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
@import '../../scss/main.scss';

.joke-body {
  background: $clr-blue-300;

  .joke-container {
    height: 100vh;
    @include flex-align-center;
    flex-direction: column;
    background: url('./robot.gif');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;

    .joke-container__text-box {
      background: #f5f5f5;
      width: 15.5em;
      padding: 1em;
      margin-bottom: 1em;
      outline-color: $clr-blue-300;
      outline-style: solid;
      word-wrap: break-word;

      p {
        font-size: 1.25rem;
        line-height: 1.25;
      }
    }

    button {
      cursor: pointer;
      outline: none;
      width: 12.5em;
      height: 3.125em;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.25rem;
      color: $clr-white-100;
      background: #ff3482;
      border: none;
      border-radius: 5px;
      box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);

      @include max-width-mq('large') {
        box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
      }
    }

    button:hover {
      filter: brightness(95%);
    }

    button:active {
      transform: scale(0.98);
    }

    button:disabled {
      cursor: default;
      filter: brightness(30%);
    }
    @include max-width-mq('large') {
      background-position: center center;
      background: cover;
    }
  }
}
