.dark-light-body__contacts {
  /* Contact Section */
  .fab {
    font-size: 100px;
    margin-right: 50px;
    cursor: pointer;
    color: var(--primary-color);
  }

  .fab:hover {
    color: var(--on-background);
  }
}
