.dark-light-body__projects {
  /* Projects Section */
  .buttons {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  button {
    min-width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    font-size: 15px;
    outline: none;
  }

  button:disabled {
    opacity: 0.4;
    cursor: default;
  }

  button:hover:not(.outline) {
    filter: brightness(110%);
  }

  .primary {
    background: var(--primary-color);
    color: var(--on-primary);
  }

  .secondary {
    border: 2px solid var(--secondary-color);
  }

  .secondary,
  .secondary:hover,
  .outline.secondary:hover {
    background: var(--secondary-color);
    color: var(--on-primary);
  }

  .outline {
    background: var(--background);
    color: var(--on-background);
  }

  .outline:hover {
    background: var(--primary-color);
    color: var(--on-primary);
  }

  .text-box {
    width: 40%;
    text-align: justify;
    background: rgb(0 0 0 / 50%);
    color: var(--on-primary);
    border-radius: 10px;
    padding: 30px;

    p {
      margin: 0;
      line-height: 25px;
    }
  }
}
